#imgGrupp {
    width: 150px;
    height: 120px;
    float: inline-end;
    border-radius: 20%;
}

#imgSpinning {
    width: 150px;
    height: 120px;
    float: inline-end;
    border-radius: 20%;
}

#imgYoga {
    width: 150px;
    height: 120px;
    float: inline-end;
    border-radius: 20%;
}

